@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;


/* --color-blue-50: #ebfffd;
--color-blue-100: #cdfffc;
--color-blue-200: #a1fffd;
--color-blue-300: #60fffe;
--color-blue-400: #18f5f8;
--color-blue-500: #00d7de;
--color-blue-600: #00adbb;
--color-blue-700: #088896;
--color-blue-800: #106d7a;
--color-blue-900: #125a67;
--color-blue-950: #053c47; */



--color-blue-50: #f0fdf9;
--color-blue-100: #ccfbef;
--color-blue-200: #99f6df;
--color-blue-300: #5eeacd;
--color-blue-400: #2bd4b6;
--color-blue-500: #14b89e;
--color-blue-600: #0d9481;
--color-blue-700: #0f7669;
--color-blue-800: #115e55;
--color-blue-900: #134e47;
--color-blue-950: #042f2c;




}
